<template>
  <div class="logs">
    <div v-for="(log, index) in $store.state.logs" v-bind:key="index">
      <div>{{ log }}</div>
    </div>
  </div>
  <div class="last-update">Last Update: {{ now }}, Last Record Number: {{$store.state.lastIndex ?? ''}}</div>
</template>

<script>
const { ipcRenderer } = window.require("electron");
import { DateTime } from "luxon";
import { sendMessage } from "@/apis/tgbot";
import { IsJsonString } from "@/untils/helper";
export default {
  name: "LogView",
  props: {},
  data() {
    return {
      now: null,
    };
  },

  mounted() {
    this.timer = setInterval(this.checkLog, 5000);
    ipcRenderer.on("init-index", (event, index) => {
      console.log('init-index')
      this.$store.commit("initLastIndex", index);
    });
    ipcRenderer.on("success-get-log", (event, record) => {
      console.log('success-get-log')
      const strategy = record["field2"];
      const jsonString = record['field3'].replace(/'/g, '"')
      if (IsJsonString(jsonString)) {
        const data = JSON.parse(jsonString);
        const { side, updateTime, status, avgPrice, symbol } = data;
        if (status === "FILLED") {
          
          const date = DateTime.fromMillis(parseInt(updateTime));
          const dateFormat = date.setZone("Asia/Hong_Kong").toFormat("f");
          const log = `${symbol} ${strategy}: [Action: '${side}'] [Price: ${avgPrice}] [Action Time: ${dateFormat}]`;

          this.$store.commit(
            "addLogs",
            log
          );
          sendMessage(log);
        }
      }
      this.$store.commit('addLastIndex')
    });
  },
  methods: {
    checkLog() {
      if (this.$store.state.isConnect) {
        this.now = new Date().toLocaleTimeString();
        ipcRenderer.send("get-trade_log", this.$store.state.lastIndex);
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.logs {
  border: 1px solid #e3e3e3;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: row;
  margin-top: 10px;
  background: white;
  height: 200px;
  overflow-y: scroll;
}
.last-update {
  color: #42b983;
}
</style>
