<template>
  <div class="tg-inputs">
    <input
      v-model="input.token"
      placeholder="Telegram Token"
      :disabled="loading || $store.state.isConnect"
    />
    <input
      v-model="input.chat_id"
      placeholder="Channel name(e.g.: @abc_channel)"
      :disabled="loading || $store.state.isConnect"
    />
    <button class="btn" @click="submit" :disabled="loading">
      {{ loading ? "Loading" : $store.state.isConnect ? "Disconnect" : "Connect" }}
    </button>
  </div>
  <div class="msg">{{msg}}</div>
</template>

<script>
import { sendMessage } from "@/apis/tgbot";
const { ipcRenderer } = window.require("electron");
export default {
  name: "TgForm",
  data() {
    return {
      input: {
        token: localStorage.getItem("token") ?? "",
        chat_id: localStorage.getItem("chat_id") ?? "",
      },
      loading: false,
      msg: ''
    };
  },
  methods: {
    async submit() {
      localStorage.setItem("token", this.input.token);
      localStorage.setItem("chat_id", this.input.chat_id);
      this.loading = true;
      try {
        await sendMessage(this.$store.state.isConnect ? "Disconnected" : "connected");
        this.loading = false;
        ipcRenderer.send('get-last-index');
        this.$store.commit("addLogs", this.$store.state.isConnect ? "Disconnected" : "connected");
        this.$store.commit("connectToggle");
        
      } catch (error) {
        console.log(error);
        this.msg = error.message;
        this.loading = false;
      }
    },
  },
  computed: {},
  // props: {
  //   msg: String
  // }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.tg-inputs {
  border: 1px solid #e3e3e3;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}
input {
  flex: 3;
  padding: 12px 20px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #4caf50;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn {
  flex: 1;
  background-color: #00acee;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:disabled {
  opacity: 0.5;
  color: white;
}
.msg {
  color: red;
}
</style>
