<template>
  <TelegramInputs/>
  <LogView />
</template>

<script>
import LogView from './components/LogView.vue'
import TelegramInputs from './components/TelegramInputs.vue'

export default {
  name: 'App',
  components: {
    TelegramInputs,
    LogView
  },
  data: function() {
    return {
     formData: {}
    }
  },
  methods: {

  }
}
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 20px;
}
</style>
